@model Escuela
@{
    ViewData["Title"] = "Escuela";    
}

<div class="text-center">
    <h1 class="display-4">Welcome to Escuela</h1>
    <h2>@Model.Nombre</h2>
    <h3>@Model.anio</h3>
    <h4>@ViewBag.info1</h4>
    <div>
       
    </div>
    
</div>
