@model Asignatura
@{
    ViewData["Title"] = "Asignatura";    
}

<div class="text-center">
    <h1 class="display-4">Welcome to Escuela</h1>
    <h2>@Model.name</h2>
    <p>@Model.description</p>
    <div>
       
    </div>
    
</div>
